@import "./variables";
@import "./mediaQueries";
@import "./navigation";
@import "./imageSlider";
@import "./gameList";
@import "./admin";
@import "./contact";

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: $mainBackgroundColour;
    height: 100vh;
    padding: 0;
    //font-family: "Bookman";//"Courier New";//monospace;//"Lucida Console";//Courier;
    // overflow: hidden; /* Hide scrollbars */
}

.comp-logo {
    width: 25vw;
    height: 30vh;
    position: absolute;
    top: 50%; /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
}

.home-parent-div {
}

.personal-info {
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: white;
    width: 75%;

    @include large {
        flex-direction: column;
        text-align: center;
    }
}

.personal-info-inner {
    flex: 1;
    padding: 0 2em;
}

.personal-info-inner > h1 {
    border-bottom: 2px solid white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.personal-info-inner > div > p {
    text-align: left;
    
    @include large {
        text-align: center;
    }
}

.personal-info-inner > div > p > span {
    font-weight: bold;
}

.skills-list-work-history {

    @include largex2 {
        float: left;
        padding-left: 1em;
    }

    @include large {
        width: 5%;
        display: flex;
        flex-direction: column;
        margin:auto;
    }
}

.skills-list-work-personal {

    @include large {
        text-align: left;
     }
}

.tools_images_holder {
    width: 90%;
    display: flex;
    margin: auto;
    align-items: center;

    @include small {
        flex-direction: column;
    }
}

.tools_images_holder > div {
    flex: 1;
    margin: 2em;
}

.tools_images_holder > div > img {
    width: 50%;

    @include medium {
        width: 55px;
    }
}