.gameList_unorderedList {
    padding: 0;
}

.gameListItem {
    border: 3px solid white;
    padding: 1em;
    color: white;
    display: flex;
    margin: 1em;
    font-size: 1.25em;
    
    @include medium {
        display: block;
        font-size: 1.1em;
    }

    @include tiny {
        width: 300px;
    }
}

.gameListItem_left {
    flex: 2;
}

.gameListItem_left > p > span {
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 0.5em;
}

.gameListItem_right {
    flex: 3;
    padding: 2.5em;

    @include medium {
        display: flex;
        flex-direction: column;
        padding: 0em;
    }
}

.gameListItem_image {
    width: 100%;
}

.gameListBtn {
    background-color: white;
    color: grey;
    padding: 1em;
    width: 130px;

    &:hover {
        background-color: grey;
        color: black;
    }

    @include medium {
        margin: auto;
        width: 150px;
    }
}

.macBtn {
    margin-left: 2em;
}

.windowBtn {

}