.nav {
    border-bottom: 2px solid white;
    display: flex;

    @include small {
        flex-direction: column;
        text-align: center;
    }

    @include tiny {
        width:400px
    }
}

.title {
    flex: 1;
    color: white;
    padding-left: 1em;
}

.links {
    flex: 1;
    margin: 0;
    display: flex;

    @include small {
        flex-direction: column;
        width: 100%;
    }
}

.links > div {
    flex: 1;
}

.links > div > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-decoration: none;
    color: white;

    @include small {
        width: 100%;
        padding: 1em;
        border-top: 2px solid white;
    }

    &:hover {
        background-color: white;
        color: black;
    }
}